@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




.box {
  width: 200px;
  height: 200px;
  background: white;
  opacity: .4;
  position: absolute;

}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background:white;
  transform-origin: 0%;
}

/* .mask-border {
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
  mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
}

.spinning-beam {
  border-color: transparent;
  border-image: linear-gradient(90deg, orange, transparent);
  border-image-slice: 1;
  animation: border-beam 12s linear infinite;
  animation-delay: var(--delay);
}

@keyframes border-beam {
  0% {
    offset-anchor: calc(var(--anchor) * 1%) 50%;
    offset-path: path('M 0 0 L 100% 0 L 100% 100% L 0 100% Z');
  }
  100% {
    offset-anchor: calc(var(--anchor) * 1%) 50%;
    offset-path: path('M 0 0 L 100% 0 L 100% 100% L 0 100% Z');
    transform: rotate(1turn);
  }
} */

/* .beam-border {
  position: relative;
}

.beam-border::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #ff007a, transparent);
  top: 0;
  left: -100%;
  animation: beam 2s infinite;
}

@keyframes beam {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
} */
.beam-border {
  position: relative;
  border: 2px solid transparent;
  border-radius: 8px;
  overflow: hidden;
}

.beam-border::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, transparent, #ff007a, transparent) 1;
  animation: beam 4s linear infinite;
  border-radius: 8px;
}

@keyframes beam {
  0% {
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, transparent, #ff007a, transparent);
  }
  25% {
    border-image-source: linear-gradient(180deg, transparent, #ff007a, transparent);
  }
  50% {
    border-image-source: linear-gradient(270deg, transparent, #ff007a, transparent);
  }
  75% {
    border-image-source: linear-gradient(360deg, transparent, #ff007a, transparent);
  }
  100% {
    border-image-source: linear-gradient(90deg, transparent, #ff007a, transparent);
  }
}





.card {
  background: hsl(0deg 1.7% 3.36%);
  position: relative;
  transition: background 0.1s;
  /* position: absolute; */
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;;
  -moz-border-radius: 0.75rem;;
  overflow: hidden;
  width: 100%;
}

.card:hover {
  --active: 1;
}

.card:after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), hsla(28, 57%, 84%, 0.076), transparent 15vmin);
  background-attachment: fixed;
  opacity: var(--active, 0);
  transition: opacity 0.2s;
  pointer-events: none;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;;
  -moz-border-radius: 0.75rem;;
}

.card:before {
  content: "";
  position: absolute;
  inset: 0;
  /* background:
    radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), hsl(0 0% 100% / 0.5), transparent 15vmin),
    transparent;
     */
    background: radial-gradient(circle at calc(var(--x)* 1px) calc(var(--y)* 1px), hsl(31.74deg 100% 50%), transparent 15vmin), transparent;
  background-attachment: fixed;
  pointer-events: none;
  mask:
    linear-gradient(white, white) 50% 0 / 100% 4px no-repeat,
    linear-gradient(white, white) 50% 100% / 100% 4px no-repeat,
    linear-gradient(white, white) 0 50% / 4px 100% no-repeat,
    linear-gradient(white, white) 100% 50% / 4px 100% no-repeat;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;;
    -moz-border-radius: 0.75rem;;

}
